{% extends 'index.html' %}
{% block name %}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url "" %}">Home</a></li>
		<li class="breadcrumb-item active">User access</li>
	</ol>

	<div class="row">
		<!-- Article main content -->
		<article class="col-xl-12">
			<header class="card-header">
				<h1 class="card-title">Sign in</h1>
			</header>
			<br>
			<div class="col-md-8 offset-md-3 col-10 offset-1 col-lg-6 col-xl-6">
				<div class="card">
					<div class="card-body">
						<h3 class="thin text-center">Sign in to your account</h3>
						<p class="text-center text-muted">随便写点什么，
							<a href="{% url 'User:sign_up' %}">Register</a>再写点什么
						</p>
						<hr>
						<form>
							<div class="top-margin">
								<label>Username/Email<span class="text-danger">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="top-margin">
								<label>Password<span class="text-danger">*</span></label>
								<input type="password" class="form-control">
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-8 col-8 col-sm-8 col-md-8 col-xl-8">
									<b><a href="">Forgot password?</a></b>
								</div>
								<div class="col-lg-4 col-4 col-sm-4 col-md-4 col-xl-4 text-right">
									<button class="btn btn-outline-warning" type="submit">Sign in</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
		<!-- /Article -->
	</div>
</div> <!-- /container -->
{% endblock %}